In [73]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [74]:
beaches = {
    "Avalon" : "https://magicseaweed.com/Avalon-Surf-Report/2930/",
    "Bilgola" : "https://magicseaweed.com/Bilgola-Beach-Surf-Report/2927/",
    "Bungan" : "https://magicseaweed.com/Bungan-Surf-Report/2928/",
    "Curl Curl" : "https://magicseaweed.com/Curl-Curl-Surf-Report/1000/",
    "Dee-Why" : "https://magicseaweed.com/Dee-Why-Beach-Surf-Report/5176/",
    "Freshwater" : "https://magicseaweed.com/Freshwater-Surf-Report/4997/",
    "Mona Vale" : "https://magicseaweed.com/Mona-Vale-Surf-Report/4573/",
    "North Narrabeen" : "https://magicseaweed.com/North-Narrabeen-Surf-Report/998/",
    "South Narrabeen" : "https://magicseaweed.com/South-Narrabeen-Surf-Report/2936/",
    "Manly" : "https://magicseaweed.com/Sydney-Manly-Surf-Report/526/",
    "Turimetta" : "https://magicseaweed.com/Turimetta-Beach-Surf-Report/6966/",
    "Warriewood" : "https://magicseaweed.com/Warriewood-Beach-Surf-Report/5372/",
    "Whale Beach" : "https://magicseaweed.com/Whale-Beach-Surf-Report/5214/",
    "Palm Beach" : "https://magicseaweed.com/Palm-Beach-Surf-Report/6965/",
    "Long Reef" : "https://magicseaweed.com/Dee-Why-Point-Surf-Report/999/"
}

data_items = beaches.items()
data_list = list(data_items)

df = pd.DataFrame(data_list, columns=['Beach', 'Webpage'])
df['Max wave height (ft)'] = None
df['Min wave height (ft)'] = None
df['Forecast'] = None

In [75]:
for i, row in df.iterrows():
  url = df.at[i, 'Webpage']

  webpage_source = requests.get(url)
  page_content = BeautifulSoup(webpage_source.content, 'html5lib')

  data = page_content.find(class_="rating-text text-dark").text.strip()

  wave_height = data.split('ft')[0].split('-')

  df.at[i, 'Forecast'] = data

  if len(wave_height) == 2:
    df.at[i, 'Min wave height (ft)'] = int(wave_height[0])
    df.at[i, 'Max wave height (ft)'] = int(wave_height[1])
  else:
    df.at[i, 'Min wave height (ft)'] = int(wave_height[0])
    df.at[i, 'Max wave height (ft)'] = int(wave_height[0])

In [76]:
df.sort_values('Max wave height (ft)', inplace=True)
df.drop(columns=['Webpage'], inplace=True)
df

              Beach Max wave height (ft) Min wave height (ft) Forecast
0            Avalon                    2                    1    1-2ft
9             Manly                    2                    1    1-2ft
13       Palm Beach                    2                    2      2ft
11       Warriewood                    3                    2    2-3ft
14        Long Reef                    3                    2    2-3ft
6         Mona Vale                    4                    3    3-4ft
7   North Narrabeen                    4                    3    3-4ft
8   South Narrabeen                    4                    3    3-4ft
10        Turimetta                    4                    3    3-4ft
12      Whale Beach                    4                    3    3-4ft
3         Curl Curl                    5                    3    3-5ft
4           Dee-Why                    5                    3    3-5ft
5        Freshwater                    5                    3    3-5ft
1           Bilgola                    6                    4    4-6ft
2            Bungan                    6                    4    4-6ft

In [77]:
df.reset_index(inplace=True, drop=True)

In [78]:
desired_height = int(input("What is your desired height? (feet) "))
height_type = input("Is this the max or min height you desire?(enter min/max): ").lower()

if height_type == "min":
  for i, row in df.iterrows():
    if df.at[i, "Min wave height (ft)"] < desired_height:
      df.drop(i, inplace=True)
if height_type == "max":
  for i, row in df.iterrows():
    if df.at[i, "Max wave height (ft)"] > desired_height:
      df.drop(i, inplace=True)

df.drop(columns=['Min wave height (ft)', 'Max wave height (ft)'], inplace=True)
df

What is your desired height? (feet) 3
Is this the max or min height you desire?(enter min/max): min

              Beach Forecast
5         Mona Vale    3-4ft
6   North Narrabeen    3-4ft
7   South Narrabeen    3-4ft
8         Turimetta    3-4ft
9       Whale Beach    3-4ft
10        Curl Curl    3-5ft
11          Dee-Why    3-5ft
12       Freshwater    3-5ft
13          Bilgola    4-6ft
14           Bungan    4-6ft